@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite:wght@400&display=swap");

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-align: left;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.pageWrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 20px;
}

.sidebar {
  margin-left: 50px;
  width: fit-content;
}
.wrapper {
  /* width: 100%; */
  margin-bottom: 20px;
}
.sidebar #categories,
.sidebar #tag {
  display: none;
}

.projectWrapper {
  display: grid;
  height: fit-content;
  margin-right: 0;
  margin-bottom: 50px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 75vw;
}

/* .featureProject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.521) 0px 0px 5px 0px;
} */

.cardContainer {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.181)
  );
  margin: 10px;
  font-family: "Roboto", sans-serif;
  position: relative;
  min-width: 200px;
  max-width: 300px;
}

.cardContainer:hover {
  cursor: pointer;
  transform: scale(0.97);
}

section {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  gap: 20px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
section h2 {
  margin-top: 0;
}
section img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  font-size: 0.75rem;
}
footer div span {
  padding: 1px 15px;
  padding-top: 4px;
  border-radius: 20px;
  color: white;
  background-color: #0d5e8d;
  box-shadow: rgba(0, 0, 0, 0.521) 0px 0px 5px 0px;
  font-family: "Special Elite", cursive;
  font-size: 0.75rem;
  margin-left: 10px;
}
footer div span:hover {
  background-color: #fd6633;
  cursor: pointer;
  font-size: 0.7rem;
  padding-top: 4px;
}

footer div:last-child {
  margin-right: 0;
}
/* footer div span {
  font-weight: bold;
} */

footer span:active {
  transform: scale(0.95);
}
@media (min-width: 320px) {
  .projectWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cardContainer {
    max-width: 90vw;
  }
}
@media (min-width: 600px) {
  .pageWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    gap: 20px;
  }
  .featureWrapper {
    display: grid;
    height: fit-content;
    margin-bottom: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    width: 75vw;
  }
  .projectWrapper {
    display: grid;
    height: fit-content;
    margin-bottom: 50px;
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); */
    padding: 50px;
    width: 75vw;
  }
  .projectWrapper .cardContainer {
    height: 95%;
  }
  .featureProject {
    box-shadow: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 768px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    gap: 20px;
  }
  .sidebar #categories,
  .sidebar #tag {
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    /* justify-content: flex-start; */
    text-align: center;
    margin-left: 0;
  }
}
@media (min-width: 990px) {
  .projectWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1420px) {
  .projectWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.filterDisplay {
  padding: 1px 15px;
  padding-top: 4px;
  border: 1px solid #ccc;
  border-radius: 20px;
  /* margin: 5px; */
  background-color: #fd6633c2;
  box-shadow: rgba(0, 0, 0, 0.521) 0px 0px 5px 0px;
  font-family: "Special Elite", cursive;
  /* text-transform: uppercase; */
  font-size: 1rem;
  width: 100%;
}
/* .filterDisplay article {
  margin: 0;
} */
.filterDisplay:hover {
  cursor: pointer;
  background-color: #fd6633;
  transform: scale(0.95);
}
