@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-align: left;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.pageWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  margin: 50px;
  gap: 20px;
}

.wrapper {
  /* width: 100%; */
  margin-bottom: 20px;
}
.sidebar {
  display: none;
}

.projectWrapper {
  display: grid;
  height: fit-content;
  margin-bottom: 50px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  padding: 50px;
  width: 75vw;
}
.cardContainer {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.181)
  );
  margin: 10px;
  font-family: "Roboto", sans-serif;
  position: relative;
  min-width: 300px;
}

.cardContainer:hover {
  cursor: pointer;
  transform: scale(0.97);
}

/* .cardContainer > footer {
  position: absolute;
  bottom: 0;
} */

/* .excerpt {
  height: fit-content;
  margin-bottom: 60px;
} */
section {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  gap: 20px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
section h2 {
  margin-top: 0;
}
section img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
footer div span {
  padding: 2px 20px;
  margin-left: 15px;
  /* margin-right: 10px; */
  background-color: #0d5e8d;
  color: white;
  border-radius: 20px;
  width: fit-content;
  font-family: "Amatic SC", cursive;
  font-weight: normal;
}
footer div span:hover {
  background-color: #fd6633;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: bold;
}

footer div:last-child {
  margin-right: 0;
}
/* footer div span {
  font-weight: bold;
} */

footer span:active {
  transform: scale(0.95);
}
@media (min-width: 800px) {
  .projectWrapper {
    grid-template-columns: 1fr 1fr;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    justify-content: flex-start;
    text-align: center;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .projectWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.filterDisplay {
  padding: 1px 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 5px;
  background-color: #b0bec5;
  box-shadow: rgba(0, 0, 0, 0.521) 0px 0px 5px 0px;
  font-family: "Amatic SC", cursive;
  /* text-transform: uppercase; */
  font-size: 1.5rem;
  width: 90%;
}
/* .filterDisplay article {
  margin: 0;
} */
.filterDisplay:hover {
  cursor: pointer;
  background-color: #90a4ae;
  transform: scale(0.95);
}
.noProjectsContainer {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 75vh;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-align: left;
  margin: 0;
  padding: 0;
  color: black;
}
