<header>
  <h1>{{ title }}</h1>
</header>
<div [ngClass]="{ wrapper: true }">
  <div [ngClass]="{ sidebar: true }">
    <div [ngClass]="{ filterSection: true }">
      <h2 *ngIf="selectedCategory || selectedTag">Filter</h2>
      <section>
        <div *ngIf="selectedCategory">{{ selectedCategory.name }}</div>
        <div *ngIf="selectedTag">{{ selectedTag.name }}</div>
        <img
          src="trash-icon.png"
          alt="trash icon"
          *ngIf="selectedCategory || selectedTag"
          (click)="clearSelected()"
        />
        <!-- <button *ngIf="selectedCategory || selectedTag" (click)="clearSelected()"> -->
        <!-- Delete
        </button> -->
      </section>
    </div>

    <div>
      <h2>Categories</h2>
      <div
        *ngFor="let category of categories"
        (click)="handleCategoryClick(category)"
      >
        {{ category.name }}
      </div>
    </div>
    <div>
      <h2>Tags</h2>
      <div *ngFor="let tag of tags" (click)="handleTagClick(tag)">
        {{ tag.name }}
      </div>
    </div>
  </div>
  <div [ngClass]="{ projectCards: true }">
    <div
      *ngFor="let project of projects"
      [ngClass]="{
        projectCard: true,
        hidden:
          (selectedCategory && selectedCategory.id !== project.category?.id) ||
          (selectedTag && !project.tags?.includes(selectedTag))
      }"
    >
      <h2>{{ project.title }}</h2>
      <p>{{ project.excerpt }}</p>
      <p
        [ngClass]="{
          hidden: true
        }"
      >
        {{ project.body }}
      </p>
      <p>{{ project.published_date }}</p>
      <p
        *ngIf="project.category != null"
        (click)="handleCategoryClick(project.category)"
      >
        {{ project.category.name }}
      </p>
      <p *ngFor="let tag of project.tags" (click)="handleTagClick(tag)">
        {{ tag.name }}
      </p>
    </div>
  </div>
</div>

<footer>
  <p>&copy; {{ year }} Catherine Addison</p>
</footer>
