@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite:wght@400&display=swap");

h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  text-align: left;
  margin: 0;
  padding: 0;
}

.tagName {
  padding: 1px 15px;
  padding-top: 4px;
  border: 1px solid #ccc;
  border-radius: 20px;
  /* margin: 5px; */
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.521) 0px 0px 5px 0px;
  font-family: "Special Elite", cursive;
  /* text-transform: uppercase; */
  font-size: 1rem;
  text-align: center;
}

.tagName:hover {
  cursor: pointer;
  background-color: #fd6633c2;
  transform: scale(0.95);
  font-weight: bold;
}

.tagSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  gap: 1rem;
  margin: 0 auto;
}
