<div class="mainWrapper">
  <div class="projectWrapper">
    <h2 class="titleHeader">Feature Project</h2>
    <article routerLink="/projects/8" [ngClass]="{ cardContainer: true }">
      <section>
        <h2>{{ projects[7].title | uppercase }}</h2>
        <div *ngIf="projects[7].image; else sampleImage">
          <img [src]="projects[7].image" [alt]="projects[7].title" />
        </div>
        <ng-template #sampleImage>
          <img
            [src]="'../../assets/images/sample-image.jpg'"
            alt="Sample Image"
          />
        </ng-template>
        <div
          [ngClass]="{ projectBody: true }"
          [innerHTML]="projects[7].body"
        ></div>
      </section>
      <footer>
        <div
          *ngIf="projects[7].category"
          routerLink="/projects/categories/{{ projects[7].category.id }}"
        >
          Category: <span>{{ projects[7].category.name }}</span>
        </div>
        <div *ngIf="projects[7].tags?.length">
          Tags:
          <span
            *ngFor="let tag of projects[7].tags"
            routerLink="/projects/tags/{{ tag.id }}"
          >
            {{ tag.name }}
          </span>
        </div>
      </footer>
    </article>
    <header>
      <button type="button" routerLink="/projects">View All Projects</button>
    </header>
  </div>
</div>
